* {
   padding: 0%;
   margin: 0%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centrar {
    text-align: center;
}

/* body{ 
    background: url(https://i.pinimg.com/originals/e4/d0/08/e4d008397244bf06789d3fcecf81261a.gif);
    background-size: cover;
    background-position: center;
}
*/